// NOTE: AUTO PREFIXER IS ON

$base-font-size: 16px;
$base-font-family: "proxima-nova",sans-serif;
$base-font-style: normal;
$base-font-weight: 400;
$base-line-height: 1.5;

$header-font-family: "alternate-gothic-no-3-d",sans-serif;
$header-font-style: normal;
$header-font-weight: 400;

%header-font {
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  text-transform: uppercase;
  line-height: 1.2;
}



// Brand Colors

$green: #7AC143;
$orange: #FBB034;
$dark-orange: darken($orange, 11%);

$blue: #2269A2;
$light-blue: #169DD8;
$red: #D31245;
$gold: #FFD457;

$dark-green: #476A1D;

// secondary colors
$dark-blue: darken($blue, 10%);
$dark-red: darken($red, 10%);
$dark-gold: $orange;

// Grays
$dark-gray: #363636;
$gray: #666;
$light-gray: #bababa;
$black: #000;
$white: #FFF;

$site-menu-breakpoint: 960px;

$column-breakpoint: 800px;
